@import '../theme';

$font-size-h1: $font-size-p * 2.5; // 40px
$font-size-h2: $font-size-p * 2; // 32px
$font-size-h3: $font-size-p * 1.75; // 28px
$font-size-h4: $font-size-p * 1.5; // 24px
$font-size-h5: $font-size-p * 1.25; // 20px

// Mixin for headings
@mixin heading-style($size, $color: null) {
  font-size: $size;
  font-weight: bold;
  line-height: 1.2;
  margin: ($size * 0.5) 0;
  font-family: $font-family-secondary;

  @if $color {
    color: $color;
  }
}

h1 {
  @include heading-style($font-size-h1);
}

h2 {
  @include heading-style($font-size-h2);
}

h3 {
  @include heading-style($font-size-h3);
}

h4 {
  @include heading-style($font-size-h4);
}

h5 {
  @include heading-style($font-size-h5);
}
